<app-loading *ngIf="loading; else ready"></app-loading>

<ng-template #ready>
    <h3>Alterar Produto</h3>
    <app-product-form [productId]="productId"></app-product-form>
    <div class="column-buttons">
        <div class="buttons">  
            <app-button-create
                [disabled]="productForm && productForm.productFormGroup.valid"
                (click)="sendForm()"></app-button-create>
            <app-button-cancel [routerLink]="['../..']"></app-button-cancel>
        </div>
    </div>
</ng-template>
