<h3>Lista de Categorias</h3>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="column-id">ID</th>
      <th>Nome</th>
      <th class="column-buttons">
        <app-button-create
          [disabled]="true"
          [routerLink]="['../create']"></app-button-create>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categoryAll">
      <td class="column-id">{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td class="column-buttons">
        <div class="buttons">
          <app-button-update
            [disabled]="true"
            [routerLink]="['../update/' + item.id]"></app-button-update>
          <app-button-delete
            (click)="buttonDelete($event, item)"></app-button-delete>
        </div>
      </td>
    </tr>
  </tbody>
</table>
