.table {
    width: 60vw;
}

.column-id {
    width: 80px;
    text-align: center;
}

.column-buttons {
    width: 300px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
} 