<div [formGroup]="userFormGroup">
  <div class="mb-3">
    <mat-form-field class="w-100">
      <mat-label>
        Nome
      </mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <div *ngIf="userFormGroup.controls.name.invalid && (userFormGroup.controls.name.dirty || userFormGroup.controls.name.touched)" class="error-messages">
      <div class="error-messages__message" *ngIf="userFormGroup.controls.name.errors && userFormGroup.controls.name.errors.required">
        É necessário o preenchimento desse campo.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <mat-form-field class="w-100">
      <mat-label>
        E-mail
      </mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <div *ngIf="userFormGroup.controls.email.invalid && (userFormGroup.controls.email.dirty || userFormGroup.controls.email.touched)" class="error-messages">
      <div class="error-messages__message" *ngIf="userFormGroup.controls.email.errors && userFormGroup.controls.email.errors.required">
        É necessário o preenchimento desse campo.
      </div>
    </div>
  </div>
</div>
